@using Microsoft.AspNetCore.Identity
@using LeadGeneration.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="menu">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Account</a>
        </li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>
}
else
{
    <ul class="menu">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
